# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [2]:
# Load in environments
load_dotenv('password.env')
password = os.getenv("password")

In [3]:
# Create a connection to the database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/fraud_detection")

# Write a query
query=  """
SELECT t.date, t.amount, cc.cardholder_id
FROM transaction as t
JOIN credit_card as cc ON t.card = cc.card
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
transaction_df = pd.read_sql_query(sql=text(query), con=engine.connect())
transaction_df = transaction_df.set_index('date')
transaction_df.dtypes

amount           float64
cardholder_id      int64
dtype: object

In [4]:
# Write function that locates outliers using standard deviation
# Using z-score method with z-scores above 2 sigifying an outlier
amount = transaction_df['amount']
def outlier_finder(a):
    mean = amount.mean()
    std = amount.std()
    zscore = (a-mean)/std
    outlier = a[zscore > 2]
    return outlier

In [5]:
# Create cardholder_id df to sample from
cardholder_id = list(transaction_df['cardholder_id'].drop_duplicates())

In [37]:
# Produce sample and filter sample transactions
sample = random.sample(cardholder_id, 3)
sample_transactions = transaction_df[transaction_df['cardholder_id'].isin(sample)]
sample

[12, 16, 9]

In [41]:
# Find anomalous transactions for 3 random card holders
outliers = outlier_finder(sample_transactions['amount'])
outlier_list = list(outliers)
outlier_data = transaction_df[transaction_df['amount'].isin(outlier_list)][transaction_df['cardholder_id'].isin(sample)]
outlier_data.sort_values(['cardholder_id'])

C:\Users\Artur\AppData\Local\Temp\ipykernel_23604\3106709206.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  outlier_data = transaction_df[transaction_df['amount'].isin(outlier_list)][transaction_df['cardholder_id'].isin(sample)]

                     amount  cardholder_id
date
2018-03-04 15:50:53  1534.0              9
2018-10-07 18:29:20  1179.0              9
2018-09-25 23:23:21  1095.0              9
2018-03-26 07:41:59  1009.0              9
2018-06-10 04:54:27  1795.0              9
2018-06-17 02:45:49   691.0              9
2018-12-19 16:10:03  1724.0              9
2018-01-02 23:27:46  1031.0             12
2018-12-14 08:51:41   748.0             12
2018-11-27 15:36:05  1802.0             12
2018-11-25 20:44:07  1123.0             12
2018-09-23 19:20:23  1075.0             12
2018-06-28 21:13:52  1108.0             12
2018-06-27 01:27:09  1592.0             12
2018-06-21 13:16:25  1102.0             12
2018-03-20 10:19:25   852.0             12
2018-03-12 00:44:01  1530.0             12
2018-01-23 06:29:37  1678.0             12
2018-05-29 02:55:08  1203.0             16
2018-07-26 23:02:51  1803.0             16
2018-03-05 08:26:08  1617.0             16
2018-11-13 17:07:25  1911.0             16
2018-02-17 01:27:19  1430.0             16
2018-12-03 02:38:52  1014.0             16
2018-01-22 08:07:03  1131.0             16
2018-06-17 15:59:45  1103.0             16
2018-12-24 15:55:06  1634.0             16

## Identifying Outliers Using Interquartile Range

In [8]:
# Write a function that locates outliers using interquartile range
def iqroutlier_finder(a):
    q1=amount.quantile(0.25)
    q3=amount.quantile(0.75)
    IQR=q3-q1
    outliers = a[((a<(q1-1.5*IQR)) | (a>(q3+1.5*IQR)))]
    return outliers

In [42]:
# Find anomalous transactions for 3 random card holders
iqroutliers = iqroutlier_finder(sample_transactions['amount'])
iqroutlier_list = list(outliers)
iqroutlier_data = transaction_df[transaction_df['amount'].isin(iqroutlier_list)][transaction_df['cardholder_id'].isin(sample)]
iqroutlier_data.sort_values(['cardholder_id'])

C:\Users\Artur\AppData\Local\Temp\ipykernel_23604\539302385.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  iqroutlier_data = transaction_df[transaction_df['amount'].isin(iqroutlier_list)][transaction_df['cardholder_id'].isin(sample)]

                     amount  cardholder_id
date
2018-03-04 15:50:53  1534.0              9
2018-10-07 18:29:20  1179.0              9
2018-09-25 23:23:21  1095.0              9
2018-03-26 07:41:59  1009.0              9
2018-06-10 04:54:27  1795.0              9
2018-06-17 02:45:49   691.0              9
2018-12-19 16:10:03  1724.0              9
2018-01-02 23:27:46  1031.0             12
2018-12-14 08:51:41   748.0             12
2018-11-27 15:36:05  1802.0             12
2018-11-25 20:44:07  1123.0             12
2018-09-23 19:20:23  1075.0             12
2018-06-28 21:13:52  1108.0             12
2018-06-27 01:27:09  1592.0             12
2018-06-21 13:16:25  1102.0             12
2018-03-20 10:19:25   852.0             12
2018-03-12 00:44:01  1530.0             12
2018-01-23 06:29:37  1678.0             12
2018-05-29 02:55:08  1203.0             16
2018-07-26 23:02:51  1803.0             16
2018-03-05 08:26:08  1617.0             16
2018-11-13 17:07:25  1911.0             16
2018-02-17 01:27:19  1430.0             16
2018-12-03 02:38:52  1014.0             16
2018-01-22 08:07:03  1131.0             16
2018-06-17 15:59:45  1103.0             16
2018-12-24 15:55:06  1634.0             16